<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Olsker Cupcakes</title>
<link rel="icon" href="../public/images/cupcakefavicon.png" type="image/png">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<header>
    <a href="/" th:href="@{/}">
        <img src="/images/cupcakeheaderlogo.png" th:src="@{/images/cupcakeheaderlogo.png}" width="50%" />
    </a>
    <nav>
        <ul>
            <li><a href="orders.html" th:href="@{/orders}">Ordrer</a></li>
            <li><a href="customers.html" th:href="@{/customers}">Kunder</a></li>
            <li><span th:text="${user.email}">BrugerEmail</span></li>
            <li><a href="#" th:href="@{/logout}">Log ud</a></li>
        </ul>
    </nav>
</header>

<h1>Alle Kunder:</h1>

<table>
    <thead>
    <tr>
        <th>Kunde E-mail</th>
        <th>Kunde ID</th>
        <th>Indsæt Beløb (Kr)</th>
        <th>Opdater Konto</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.email}">Kunde E-mail</td>
        <td th:text="${customer.id}">Kunde ID</td>
        <td>
            <input type="number" th:field="*{customers[${customer.id}].belob}" step="10" min="0" />
        </td>
        <td>
            <form th:action="@{/admin/updateKonto}" method="post">
                <input type="hidden" th:field="*{customers[${customer.id}].id}" />
                <input type="submit" value="Opdater Konto" />
            </form>
        </td>
    </tr>
    </tbody>
</table>

<footer>
    <div class="footer-content">
        <p>&copy; 2025 Olsker Cupcakes. All rights reserved.</p>
    </div>
</footer>
</body>
</html>
