<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Olsker Cupcakes</title>
<link rel="icon" href="../public/images/cupcakefavicon.png" type="image/png">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>

<img src="../public/images/cupcakeheaderlogo.png" th:src="@{/images/cupcakeheader.png}" width="50%"/>



<footer>
    <div class="footer-content">
        <p>&copy; 2025 Olsker Cupcakes. All rights reserved.</p>
    </div>
</footer>
</body>
</html>
