<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Olsker Cupcakes</title>
<link rel="icon" href="../public/images/cupcakefavicon.png" type="image/png">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<header>
    <a href="store.html" th:href="@{/}">
        <img src="../public/images/cupcakeheaderlogo.png" th:src="@{/images/cupcakeheader.png}" width="50%" />
    </a>
    <nav>
        <ul>
            <li><a href="orders.html" th:href="@{/orders}">Ordrer</a></li>
            <li><a href="customers.html" th:href="@{/customers}">Kunder</a></li>
            <li><span th:text="${user.email}">BrugerEmail</span></li>
            <li><a href="#" th:href="@{/logout}">Log ud</a></li>
        </ul>
    </nav>
</header>

<h1>Ordrer:</h1>

<h2>Nye Ordrer</h2>
<table>
    <thead>
    <tr>
        <th>Dato</th>
        <th>Kunde ID</th>
        <th>Ordre ID</th>
        <th>Bund</th>
        <th>Top</th>
        <th>Antal</th>
        <th>Aktion</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${newOrders}">
        <td th:text="${order.date}"></td>
        <td th:text="${order.customerId}"></td>
        <td th:text="${order.orderId}"></td>
        <td th:text="${order.bottom}"></td>
        <td th:text="${order.top}"></td>
        <td th:text="${order.quantity}"></td>
        <td>
            <button th:onclick="'/orders/complete/' + ${order.orderId}">Færdig</button>
            <button th:onclick="'/orders/delete/' + ${order.orderId}">Slet</button>
        </td>
    </tr>
    </tbody>
</table>

<h2>Færdige Ordrer</h2>
<table>
    <thead>
    <tr>
        <th>Dato</th>
        <th>Kunde ID</th>
        <th>Ordre ID</th>
        <th>Bund</th>
        <th>Top</th>
        <th>Antal</th>
        <th>Aktion</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${completedOrders}">
        <td th:text="${order.date}"></td>
        <td th:text="${order.customerId}"></td>
        <td th:text="${order.orderId}"></td>
        <td th:text="${order.bottom}"></td>
        <td th:text="${order.top}"></td>
        <td th:text="${order.quantity}"></td>
        <td>
            <button th:onclick="'/orders/uncomplete/' + ${order.orderId}">Ufærdig</button>
            <button th:onclick="'/orders/delete/' + ${order.orderId}">Slet</button>
        </td>
    </tr>
    </tbody>
</table>

<footer>
    <div class="footer-content">
        <p>&copy; 2025 Olsker Cupcakes. All rights reserved.</p>
    </div>
</footer>
</body>
</html>
